.paragraph2{
    color: #ECEDED;
    font-size: 1.10rem;
    margin-bottom: -1rem;
    margin-top: 1rem;
}
.paragraph3{
    color: #ECEDED;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: -10.5rem;
}