.list-reset{
    font-size: 18px;
    font-weight: 600;
}

.list-reset li{
    font-family: Lato;
}
.contactus p{
    font-family: Lato;
    font-size: 1rem;
    margin-top: 2.5rem;
}
.contactus p span{
    color: #6163ff;
    font-size: 1rem;
}